/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-lcm-ll-latest-comments {
    font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

	blockquote {
		margin: 0;
	}

	a {
		font-size: 0.8em;

		&.wp-block-latest-comments__comment-link {
			color: #111;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

